/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #2e2f42;
  max-width: 1440px;
}

/* CONTAINER */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #4d5ae5;
}

/* HERO */
.hero {
  position: relative;
  height: 600px;
  background-image: url(/images/people-working.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #2E2F42B2; /* %70 opacity layer */
    backdrop-filter: none; /* Blur istersen buraya eklicem */
    
    z-index: 1;
  }
  
  .hero .container {
    position: relative;
    z-index: 2;
  }
  

.hero-title {
  font-size: 56px;
  color: white;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  width: 169px;
  height: 56px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #404bbf;
}

/* FEATURES */
.features-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  
  .feature-item {
    width: 264px;
  }

  .feature-icon-box{
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 2px solid rgba(192, 192, 192, 0.75);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

  }
  
  .feature-icon {
    fill: #2e2f42;
  }
  
  .feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .feature-text {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
  }
  

/* LOGO */
.logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.logo-blue {
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-title {
  font-size: 36px;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 2px rgba(0, 0, 0, 0.08);
  transition: box-shadow 250ms ease;
}

.team-item:hover {
  transform: translateY(-6px);
  box-shadow:
    0px 4px 12px rgba(46, 47, 66, 0.12),
    0px 4px 4px rgba(46, 47, 66, 0.1);
}

.team-item img {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: block;
}

.team-info {
  padding: 32px 0;

}

.icon {
    fill: #fff;
  }

  .team-social {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 20px 0 24px;
  }
  


  .social-links {
    display: flex;
    justify-content: center;
    gap: 24px; /* ikonlar arası boşluk */
    padding: 0;
    margin: 16px;
  }


.social-links li{
    list-style: none;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease;
  }
  
  .social-link:hover {
    background-color: #404bbf;
  }
  


/* PORTFOLIO */
.portfolio-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease,
    border-color 0.3s ease;
  border: 1px solid #e7e9fc;
}

.portfolio-item img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.portfolio-info {
  padding: 32px 16px;
}

.portfolio-item:hover {
  box-shadow: 0px 4px 8px rgba(46, 47, 66, 0.08);
  transform: translateY(-6px);
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-type {
  font-size: 16px;
  color: #434455;
}

/* CONTACT */
.contact {
  display: flex;
  gap: 40px;
}

.contact-link {
  color: #434455;
  text-decoration: none;
}

.contact-link:hover {
  color: #4d5ae5;
}

.contact {
  font-style: normal;
}

/* FOOTER */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px; /* sol blok ile sağ blok arası mesafe */
  }
  
  /* left*/
  .footer-left {
    max-width: 264px;

  }
  
  .footer-text {
    margin-top: 16px;
    color: #E7E9FC;
    font-family: roboto;
    font-style: regular;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  
  /* right*/
  .footer-right {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-top: 0; /* çok aşağıda görünürse burayla oynarız */
  }
  
  .footer-social-title {
    font-family: roboto;
    font-weight: 500;
    font-style: medium;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: 0 0 16px 0;
    font-size: 16px;
    color: #ffffff;
  }
  
  
  .footer-links {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    list-style: none;
  }
  
  .footer-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease;
  }
  
  .footer-link:hover {
    background-color: #404bbf;
  }
  
  .footer-link .icon {
    fill: #ffffff;
  }

  .footer-left .logo-light{
    color: white;
  }
  