/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #2e2f42;
  max-width: 1440px;
}

/* CONTAINER */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #4d5ae5;
}

/* HERO */
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  color: white;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  width: 169px;
  height: 56px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #404bbf;
}

/* FEATURES */
.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  color: #434455;
}

/* LOGO */
.logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.logo-blue {
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-title {
  font-size: 36px;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.team-item:hover {
  transform: translateY(-6px);
  box-shadow:
    0px 4px 12px rgba(46, 47, 66, 0.12),
    0px 4px 4px rgba(46, 47, 66, 0.1);
}

.team-item img {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: block;
}

.team-info {
  padding: 32px 0;
}

/* PORTFOLIO */
.portfolio-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease,
    border-color 0.3s ease;
  border: 1px solid #e7e9fc;
}

.portfolio-item img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.portfolio-info {
  padding: 32px 16px;
}

.portfolio-item:hover {
  box-shadow: 0px 4px 8px rgba(46, 47, 66, 0.08);
  transform: translateY(-6px);
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-type {
  font-size: 16px;
  color: #434455;
}

/* CONTACT */
.contact {
  display: flex;
  gap: 40px;
}

.contact-link {
  color: #434455;
  text-decoration: none;
}

.contact-link:hover {
  color: #4d5ae5;
}

.contact {
  font-style: normal;
}

/* FOOTER */
.page-footer {
  background-color: #2e2f42;
  padding: 90px 1.44px;
}

.logo-light {
  color: white;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  color: white;
}
